<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>domdiff demo</title>
</head>
<body>

<script src="../../dist/domdiff.js"></script>
<script src="../../node_modules/underscore/underscore.js"></script>
<script type="text/html" id="template">
<h1>Random Table</h1>

<table border="1">
	<tr>
		<% for (var j=0;j < 5;j++) { %>
			<th data-col="<%- j %>">SORT</td>
		<% } %>
	</tr>
<% _.each(table, function(row, i) { %>
	<tr>
		<% for (var j=0;j < 5;j++) { %>
			<td data-col="<%- j %>" data-row="<%- i %>"><%- row[j] %></td>
		<% } %>
	</tr>
<% }) %>
</table>
</script>

<script>
var template = _.template(document.getElementById('template').innerText);
var data = {
	table: []
};

for (var i=0;i < 10000;i++) {
	data.table[i] = [];

	for (var j=0;j < 5;j++) {
		data.table[i][j] = Math.random();
	}
}

function update() {
	var s = performance.now();
	var dom = new DOMParser().parseFromString(template(data), 'text/html');
	domdiff(document, dom);
	console.log('fast?', performance.now() - s);
}

document.addEventListener('click', function (event) {
	var td = event.target;
	var row = +td.getAttribute('data-row'),
		col = +td.getAttribute('data-col');

	if (td.nodeName === 'TH') {
		// sort
		data.table.sort(function (a, b) {
			return a[col] - b[col];
		});
		update();
		return;
	}

	if (td.nodeName != 'TD') {
		return;
	}

	data.table[row][col] = Math.random();
	update();
});

update();
</script>

</body>
</html>