<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>dompatch demo</title>
</head>
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script src="../../dist/dompatch.js"></script>

<script type="text/html" id="template">
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>It is <%- now %></title>
</head>
<body>
<div><%- now %></div>
</body></html>
</script>

<script>
var template = _.template(document.getElementById('template').innerHTML);
var data = {
	now: new Date().toLocaleString()
};

function update() {
	var s = performance.now();
	var dom = new DOMParser().parseFromString(template(data), 'text/html');
	dompatch(document, dom);
	console.log('fast?', performance.now() - s);
}

setInterval(function () {
	data.now = new Date().toLocaleString();
	update();
}, 1000);

update();
</script>

</body>
</html>